
.slider {
    position: relative;    
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: #000;    
}

.slide {
    display: flex;
    align-items: center;
    min-width: 100%;
    height: 85vh;
    transition: all .7s linear;
    overflow: hidden;  
    touch-action: none;    
}

%btn-styles {
    position: absolute;
    top: 50%;  
    transform: translateY(-50%);
    width: 10%;
    height: 85vh;
    background: none;
    border: none;
    outline: none;   
    font-size: 1.5rem;
    transition: all .2s linear;
    &:hover {
        background-color: rgba(0,0,0, .4);
        color: #fff;
        cursor: pointer;  
    }
}

#goLeft {
      left: 0;
      @extend %btn-styles
}

#goRight {
      right: 0;
      @extend %btn-styles
}

.content {
   width: 100%;
   height: auto;
}

@media (max-width: 500px) {
    .slide {
       height: 100vh;    
    }
    .slide img {
        height: 100%;
        object-fit: cover;
    }
    %btn-styles {
        display: none;
        // height: 100vh;  
        // width: 15%;
        // color: whitesmoke;
    }
}